
.our-work-mobile-content-hold{
    display: none;
}
.our-work-container{
    height:auto;
    width: 100%;
  
}
.our-work-top{
    text-align: center;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url("../Works/images/68430_header-schaeffler-industry-solutions-industrial-automation-printing-machinery_rwd_1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 30px;    
}
.our-work-inner{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.634);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 1s;
}
.our-work-top h1{
    font-size: 35px;
    color: #226ef1;
    font-weight: 500;
    letter-spacing: 2px;
}
.our-work-top h2{
    margin-top: 10px;
    color: #bdbaba;
    font-size: 25px;
    font-weight: 500;
}
.our-work-inner:hover{
    background-color: black;
}

.our-work-content-hold{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,95%);
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}


.our-work-contents{
    height: 300px;
    width: 100%;
    background-color: rgb(56, 54, 54);
    display: flex;
    align-items: center;
    padding: 20px 10px;
    color: white;
    transition: 0.3s;
    box-shadow:  0 0 5px white;

}


.our-work-image{
    height: 275px;
    width: 275px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin-right: 30px;
    transition: 0.5s;
}
.our-work-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;


}
.our-work-info{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
.workInfo-top{
    height: auto;
    width: 50%;
}
.work-topic{
    width: 100%;
    color: #cfcfcf;
    font-size: 30px;
    font-weight: 700;
}
.work-sub-topic{
    height: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: gray;
}
.workInfo-bottom{
    height: fit-content;
    width: 45%;
}
.workInfo-bottom h2{
    height: auto;
    margin: 10px 0px;
    color:#226ef1;
    font-size: 20px;
    font-weight: 400;
}
.workInfo-bottom ul{
    height: fit-content;
    width: 100%;
    line-height: 20px;
    display: grid;
    grid-template-columns: repeat(1,auto);
    align-items: center;
    padding: 10px;
    row-gap: 5px;
    
}
.workInfo-bottom li{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px 15px;
    color: #226ef1;
}
.our-work-info li p{
    font-size: 15px;
    color: rgb(196, 194, 194);
}
.alignRight{
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.alignRight .our-work-image{
    margin-right: 0px;
    margin-left: 20px;
}

.our-work-contents:hover{
   transform: scale(0.98);

}

@media screen and (max-width:1200px){
       .our-work-container{
        height:auto;
        width: 100%;
       
    }
    .our-work-top{
        text-align: center;
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: url("../Works/images/68430_header-schaeffler-industry-solutions-industrial-automation-printing-machinery_rwd_1200.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 30px;    
    }
    .our-work-inner{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.634);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 1s;
    }
    .our-work-top h1{
        font-size: 30px;
        color: #226ef1;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .our-work-top h2{
        margin-top: 10px;
        color: #bdbaba;
        font-size: 20px;
        font-weight: 500;
    }
    .our-work-inner:hover{
        background-color: black;
    }
    
    .our-work-content-hold{
       display: none;
    }
    
    .our-work-mobile-content-hold{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,100%);
        row-gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;
    }
    
    .our-work-contents{
        height: 300px;
        width: auto;
        background-color: rgb(56, 54, 54);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px;
        color: white;
        transition: 0.3s;
        box-shadow:  0 0 5px white;
    
    }
    
    .workInfo-top{
        height: auto;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        background-color: rgb(104, 104, 104);
    }
    .work-topic{
        width: 100%;
        color: #226ef1;
        font-size: 25px;
        font-weight: 700;
    }
    .work-sub-topic{
        height: 30px;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        color: rgb(206, 200, 200);
    }
  
    .our-work-info{
        height: 100%;
        width: 100%;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: 0.5s;
    }
    .our-work-image{
        height: 175px;
        width: 175px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        margin-right: 0px;
        transition: 0.5s;
    }
    .our-work-image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    
    
    }
    .workInfo-bottom{
        height: fit-content;
        width: 65%;
    }
    .workInfo-bottom h2{
        height: auto;
        margin: 5px 0px;
        color:#226ef1;
        font-size: 17px;
        font-weight: 400;
    }
    .workInfo-bottom ul{
        height: fit-content;
        width: fit-content;
        line-height: 20px;
        display: grid;
        grid-template-columns: repeat(1,auto);
        align-items: center;
        border:  1px dotted gray;
      
    }
    .workInfo-bottom li{
        font-size: 15px;
        letter-spacing: 1px;
        margin: 0px 15px;
        color: #226ef1;
      
    
    }
    .our-work-info li p{
        font-size: 13px;
        color: rgb(196, 194, 194);
    }
 
    .our-work-contents:hover{
       transform: scale(0.98);
    
    }
    
    
}


@media screen and (max-width:767px){
    
    .our-work-container{
        height:auto;
        width: 100%;
        margin-top: 81px;
        
    }
    .our-work-top{
        text-align: center;
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 10px;    
        background: url("../Works/images/68430_header-schaeffler-industry-solutions-industrial-automation-printing-machinery_rwd_1200.jpg");

    }
    .our-work-inner{
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 1s;
    }
    .our-work-top h1{
        font-size: 20px;
        color: white;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .our-work-top h2{
        margin-top: 10px;
        color: gainsboro;
        font-size: 16px;
        font-weight: 500;
    }
    
    
    .our-work-content-hold{
       display: none;
    }
    
    .our-work-mobile-content-hold{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,100%);
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
    }
    
    .our-work-contents{
        height: auto;
        width: auto;
        background-color: rgba(255, 255, 255, 0.301);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0px 0px;
        color: white;
        transition: 0.3s;
        row-gap: 15px;
        box-shadow:  0 0 5px white;
    
    }
    
    .workInfo-top{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 5px 0px;
        background-color: rgba(177, 176, 176, 0.37);
        border-radius: 10px;
    }
    .work-topic{
        width: 100%;
        color: #226ef1;
        margin: 5px 0px;
        font-size: 17px;
        font-weight: 700;
        padding: 0px 0px;
    }
    .work-sub-topic{
        height: auto;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        color: rgb(119, 117, 117);
    }
  
    .our-work-info{
        height: 100%;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 0.5s;
    row-gap: 20px;
    }
    .our-work-image{
        height: 200px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        margin-right: 0px;
        transition: 0.5s;
        margin: 10px 0px;
    }
    .our-work-image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    
    
    }
    .workInfo-bottom{
        height: fit-content;
        width: 100%;
    }
    .workInfo-bottom h2{
        height: auto;
        margin: 5px 0px;
        color:#226ef1;
        font-size: 15px;
        font-weight: 400;
        margin: 5px 0px;
    }
    .workInfo-bottom ul{
        height: fit-content;
        width: 100%;
        line-height: 15px;
        display: grid;
        grid-template-columns: repeat(2,auto);
        align-items: center;
        border:  1px dotted rgb(54, 53, 53);
       
        
    }
    .workInfo-bottom li{
        font-size: 11px;
        letter-spacing: 0px;
        margin: 0px 15px;
        color: #226ef1;
      
    
    }
    .our-work-info li p{
        font-size: 11px;
        margin: 5px 0px;
        color: rgb(0, 0, 0);
    }
 
    .our-work-contents:hover{
       transform: scale(0.98);
       box-shadow:  0px 0px 0px 0px rgb(66, 24, 255);
    
    }
    
    
}